$textblock-width: 36rem;
$padding: 1rem;

body {
  margin: {
    left: auto;
    right: auto;
  }

  max-width: $textblock-width;
  padding: $padding;

  // work around weird browser bugs
  // with phantom horizontal scroll
  // - blink  linux   with    scroll (jawad)
  // - blink  linux   without scroll (mono)
  // - webkit macos   without scroll (me)
  // - blink  macos   without scroll (me)
  // - gecko  windows without scroll (dawn)
  // - gecko  windows with    scroll (deedeebees)
  overflow-x: hidden;
}

main {
  margin-top: 1em;

  * + * {
    margin-top: 1em;
  }
}
